@model IEnumerable<Agenda.Models.Appointment>

@{
    ViewBag.Title = "AppointmentList";
}
<table class="table">
    <tr>
        <th>
            Courtier
        </th>
        <th>
            Date Du Rendez-Vous
        </th>
        <th>
           Client
        </th>
        <th>Supprimer Rendez-Vous</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Broker.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.LastName)
        </td>

        <td>
            @Html.ActionLink("Supprimer", "DelApp", new { id = item.idAppointment })@*mettre à jour*@
        </td>
    </tr>
    }
</table>
