@model Agenda.Models.Appointment
@{
    ViewBag.Title = "DelApp";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <h>Etes-vous sure de vouloir supprimer ce rendez-vous?</h>
            <input type="submit" class="btn btn-primary" value="Oui - Supprimer"/> |
            <a class="btn btn-primary "href="~/Appointments/AppointmentList">Retour Liste</a>
        </div>
    }
</div>

