
@{
    ViewBag.Title = "Maj";
}
<div class="d-flex flex-column">
<div class="flex text-light">Mise à jour des information clients effectuée !</div>
<div class="flex"><img src="~/assets/img/smiley.png" alt="updated" id="image" /></div>
</div>

