@model IEnumerable<Agenda.Models.Customer>
@{
    ViewBag.Title = "Pagination";

}
<div class="d-flex flex-column mt-2">
    @using (Html.BeginForm("getSelectedValue", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="d-flex flex-column mt-2 boder border-light" id="listing"> Listing Client</div>
        <div class="mb-2 text-warning"> Sélection page de données : </div>
        <div>
            @Html.DropDownList("drp", new SelectList(ViewBag.listnumber, "Text", "Value"), "Selection Page", new { @onchange = "submitform();" })
        </div>
        @*<input type="submit" class="btn btn-primary border border-light" value="Valider N° Page" onchange="this.form.submit()" />*@
    }
</div>
@*Script pour la validation automatique de la sélection*@
<script>
    function submitform() {
        $('form').submit();
    }
</script>






























