@model IEnumerable<Agenda.Models.Customer>

@{

    ViewBag.Title = "Pagination";
}
<div class="d-flex flex-column mt-2">
    <div id="listingTable"></div>
    @*Pagination*@
    <a href="javascript:prevPage()" id="btn_prev">Page Précédente</a>
    <a href="javascript:nextPage()" id="btn_next">Page Suivante</a>
    <div>Page N°<span id="page"></span></div>
</div>
<script src="~/assets/js/Pagination.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



































