@model Agenda.Models.Customer

@{
    ViewBag.Title = "Suppr";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <h>Etes-vous sûre de vouloir supprimer ce client ?</h>
        <input type="submit" class="btn btn-primary" value="Oui - Supprimer"  /> | 
        <input type="submit" class="btn btn-primary" value="Non - Retour Liste" href="ListCustomers" ) />
    </div>
    }
</div>

